<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= nome %></title>
    <script src="socket.io/socket.io.js"></script>
    <link rel="icon" href="img/favicon.png">
    <link rel="stylesheet" href="user.css">
</head>
<body>
    <div class="tutto secondo_c">
        <div class="sopra">
            <div class="nome">
                <h1 id="nome" class="primo"><%= nome %></h1>
                <h2 id="saldo" class="primo"><%= coin %> coin</h2>
                
            </div>
            
            <div class="dx">
                <div class="hb" onclick="myFunction(this)">
                    <div class="bar1 primo_c"></div>
                    <div class="bar2 primo_c"></div>
                    <div class="bar3 primo_c"></div>
                </div>
                <div class="menu" id="menu">
                    <div id="largo">
                        <p><a href="/shop" class="primo">negozio</a></p>
                        <p><a href="/impostazioni" class="primo">impostazioni</a></p>
                        <p><a href="/contattaci" class="primo">contattaci</a></p>
                        <form action="/logout" method="post" class="out">
                            <button id="out" >log-out</button>
                        </form>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="elementi">
            <div id="separatore"></div>
            <p id="scegli" class="primo">scegli a che gioco giocare:</p>


            <div class="elementii">
                <div class="elemento assassino" onclick="window.location.href = '/assassino'">
                    <p class="role" style="color: #D62020;">ASSASSINO</p>
                    <p class="role" style="color: #DEB00E;">COMPLICE</p>
                    <p class="role" style="color: #000;">CITTADINO</p>
                    <p class="role" style="color: #083BF0;">SBIRRO</p>
                    <p class="role" style="color: #B216CB;">PUTTANA</p>
                    <div class="sotto primo_c">
                        <p class="secondo">assassino</p>
                    </div>
                </div>
    
    
                <div class="elemento storielle" onclick="window.location.href = '/storielle'">
                    
                    <div class="sotto primo_c">
                        <p class="secondo">strorielle</p>
                        
                    </div>
                    
                    
                </div>
            </div>
            
            
        </div>
    
        

    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io()

        socket.emit('tema', '<%= nome %>')
        socket.on('applica_tema', tema=>{
            const primi = document.getElementsByClassName('primo')
            const primi_c = document.getElementsByClassName('primo_c')
            const secondi = document.getElementsByClassName('secondo')
            const secondi_c = document.getElementsByClassName('secondo_c')
            for(i = 0; i< primi_c.length; i++){
                primi_c[i].style.backgroundColor = tema[0]
            }
            for(i = 0; i< primi.length; i++){
                primi[i].style.color = tema[0]
            }
            for(i = 0; i< secondi_c.length; i++){
                secondi_c[i].style.backgroundColor = tema[1]
            }
            for(i = 0; i< primi.length; i++){
                secondi[i].style.color = tema[1]
            }
        })
        const menu = document.getElementById('menu')
        function myFunction(x) {
            x.classList.toggle("change");
            menu.classList.toggle('largo')
        }
    </script>
</body>
</html>