@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

body, html{
    height: 100%;
}

.impostazioni{
    display: flex;
    justify-content: center;
    
}


.dx{
    position: absolute;
    right: 10px;
    top: 10px;
    animation: 0.5s impostazioni;
}
.impostazioni:hover{
    cursor: pointer;
}

#impostazioni{
    transition-duration: 0.5s;
    color: #1F8AD8;
}

#impostazioni:hover{
    transition-duration: 0.5s;
    transform: rotate(360deg);
}

.tutto{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;   
}
.nome{
    position: absolute;
    left: 10px;
    top: 10px;
    animation: 0.5s nome;
}

.role{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 5px;
}

.storielle{
    background-image: url("bg.png");
}

.elementi{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
}
.elementii{
    display: flex;
    flex-direction: row;
}


.elemento{
    height: 260px;
    width: 180px;
    border-radius: 10px;
    margin: 0 50px 0 50px;
    box-shadow: 0px 4px 19px 5px rgba(0, 0, 0, 0.5);
    position: relative;
    display: flex;
    flex-direction: column;
    transition-duration: 0.3s;
    align-items: center;
    text-align: center;
     
    
}

#scegli{
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 15px;
    color: #1F8AD8;
}

.elemento:hover{
    height: 280px;
    width: 200px;
    cursor: pointer;
    box-shadow: 0px 4px 19px 7px rgba(0, 0, 0, 0.7);
    
}

.sotto{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    background: #1F8AD8;
    border-radius: 0px 0px 10px 10px;
    color: #fff;
    text-align: center;
    font-size: 26px;
}

#nome, #saldo{
    color: #1F8AD8;
    margin: 0 0 10px 0;
}

#nome{
    font-size: 70px;
    
}

#shop{
    background-color: #1F8AD8;
    color: #fff;
    border: none;
    height: 40px;
    width: 140px;
    border-radius: 16px;
    font-weight: 400;
    font-size: 28px;
    margin-top: 15px;
    transition-duration: 0.5s;
}

#shop:hover{
    height: 50px;
    width: 150px;
    transition-duration: 0.5s;
    font-size: 30px;
}


#out{
    color: #e00227;
    font-weight: 900;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    transition-duration: 0.5s;
}
#out:hover{
    cursor: pointer;
    font-size: 22px;
    transition-duration: 0.5s;
}

@keyframes impostazioni {
    from{right: -140px;}
}

@keyframes nome {
    from{left: -100px;}
}


@media only screen and (max-width: 768px){

    .elementii{
        flex-direction: column;
        width: 100%;
        align-items: center;
        
        
        transform: translateY(0);
    }
    .elemento{
        width: 90%;
        margin: 30px 0 30px 0;
    }
    .tutto{
        display: block;
    }
    .nome{
        position: relative;
    }

    #separatore{
        height: 1px;
        width: 90%;
        background-color: #000;
    }

    .sotto{
        
        font-size: 30px;
    }

    #shop{
      height: 30px;
      width: 130px;  
      font-size: 25px;
    }

    .dx{
        font-size: 20px;
    }
    .storielle{
        font-size: 150%;
    }

}